# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
.venv/
.env/

# Файлы логов и временные файлы
*.log
*.tmp
*.swp
*~

# Файлы IDE
# VS Code
.vscode/
# PyCharm
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Дистрибутивные и сборочные папки
build/
dist/
*.egg-info/
.eggs/

# Системные файлы
.DS_Store
Thumbs.db

# Настройки среды и секретные ключи
*.env